{% extends 'base.html' %}

{% load static %}

{% block title %}Merchandise Store{% endblock %}
{% block content %}
        <ul>
            <h1> Merchandise Store </h1>

            <h1> {{request.user.profile.name}}'s Cart </h1>
                
                {% for owner, transactions in owner_sort %}
                    <h2>{{ owner.user.username}}'s Products</h2>
                        {% for transaction in transactions %}
                            {% if user.profile != transaction.product.owner and user.profile == transaction.buyer %}
                                <li>{{transaction.product.name}}</a>
                                <p>{{transaction.status}}</p>
                                <p>{{transaction.amount}}</p>
                                </li>  
                            {% endif %}
                        {% endfor %}   
                {% endfor %}
        </ul>
{% endblock %}