{% extends 'base.html' %}

{% load static %}

{% block title %}Merchandise Store{% endblock %}
{% block content %}
        <ul>
            <h1> Merchandise Store </h1>

            <h1> {{Transaction.buyer}}'s Transaction </h1>
                {% for Transaction in object_list|dictsort:"owner" %}
                    {% if user.Profile == Product.owner %}
                    <li>
                        <p>{{Product.owner}}</p>
                        <a href="{{Transaction.get_absolute_url}}">{{Product.name}}</a>
                    </li>
                    {% endif %}
                {% endfor %}    
        </ul>
{% endblock %}