{% extends 'base.html' %}

{% load static %}

{% block title %}Merchandise Store{% endblock %}
{% block content %}
        <ul>
            <h1> Merchandise Store </h1>
            {% for Product in object_list|dictsort:"name" %}
            <li><a href="{{Product.get_absolute_url}}">{{Product.name}}</a>
            </li>
            {% endfor %}
            
            <h2> Product Types available</h2>
            {% for ProductType in object_list|dictsort:"name" %}
            <li>
                <p>{{ProductType.ProductType.name}}</p>
                <p>{{ProductType.ProductType.description}}</p>
            </li>
            {% endfor %}
        </ul>
{% endblock %}