{% extends 'base.html' %}

{% load static %}

{% block title %}Merchandise Store{% endblock %}
{% block content %}
        <ul>
            <h1> Merchandise Store </h1>
            {% if request.user.is_authenticated %}
                    <p><a href="{% url 'merchstore:cart' %}">{{request.user.profile.name}}'s Cart</a></p>

                    <p><a href="{% url 'merchstore:transactions' %}">{{request.user.profile.name}}'s Sold Products</a></p>
                    
            {% endif %}
            {% if request.user.is_authenticated %}
                <h1> {{request.user.profile.name}}'s Products </h1>
                {% for Product in user_products|dictsort:"name" %}
                    <li>Product: <a href="{{Product.get_absolute_url}}">{{Product.name}}</a>
                    <p>Status: {{Product.status}}</p>
                    </li>
                {% endfor %}    
            {% endif %}
            <h1> All Products </h1>
            {% for Product in products|dictsort:"name" %}
                {% if request.user.is_authenticated %}
                    {% if request.user != Product.owner.user %}
                        <li>Product: <a href="{{Product.get_absolute_url}}">{{Product.name}}</a>
                        <p>Status: {{Product.status}}</p>
                        </li>
                    {% endif %}
                {% else %}
                        <li>Product: <a href="{{Product.get_absolute_url}}">{{Product.name}}</a>
                        <p>Status: {{Product.status}}</p>
                        </li>
                {% endif %}        
            {% endfor %}
            
            <h2> Product Types available</h2>
            {% for product_type in product_types|dictsort:"name" %}
                <li>
                <p>{{product_type.name}}</p>
                <p>{{product_type.description}}</p>
                </li>
            {% endfor %}

            {% if request.user.is_authenticated %}
                    <li><a href="{% url 'merchstore:add' %}">Add Product</a>
                    </li>
            {% endif %}
        </ul>
{% endblock %}