{% extends 'base.html' %}

{% load static %}

{% block title %} Update {{ commission.title }} {% endblock %}

{% block content %}
    <h3> Update Commission {{ commission.title }}</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Submit</button>
    </form>
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for job in commission.job.all %}
            Job: {{ job.role }} <br>
            {% for jobapplication in job.jobapplication.all %}
                <input type="hidden" id="japk" name="japk" value='{{ jobapplication.pk }}'>
                Applicant: {{ jobapplication.applicant.name }}
                {{ jobapplication_form.as_p}}
                <button type="submit">Submit</button> <br>
            {% endfor %}
        {% endfor %}
    </form>


    <h4> Add Another Job </h4>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ job_form }}

        <button type="submit">Submit</button>
    </form>

{% endblock %}