{% extends 'base.html' %}

{% load static %}

{% block title %} {{ commission.title }} {% endblock %}

{% block content %}
    <h2> {{ commission.title }} </h2>
    <p> {{ commission.description }}</p>
    <p> People Required: {{ commission.people_required }}</p>
    <p> Created On: {{ commission.created_on }}</p>
    <p> Latest Update On: {{ commission.updated_on }}</p>
    <b> Comments </b>
    <ul>
        {% for comment in commission.comment.all %}
            <li>
                {{ comment.entry }} <br>
                Created On: {{ comment.created_on }} <br>
                Latest Update On: {{ comment.updated_on }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}