{% extends 'base.html'%}
{% block title %}Online Wiki{% endblock %}
{% block styles %} {% endblock %}
{% block content %}
<h1>Online Wiki</h1>
<a href="{% url "wiki:add" %}"class = "button"> Create Article </a>
{% if request.user.is_authenticated %}
    <h2 style="line-height:0.5">Your Articles</h2>
      {% for categories in object_list %}
          {% for articles in categories.category.all %}
            {% if request.user.profile == articles.author %}
              <li>
                <a href='{{articles.get_absolute_url}}'>{{articles.title}}</a>
              </li>
            {% endif %}
          {% endfor %}
      {% endfor %}
{% endif %}
<h2>Categories</h2>
<ul>
  {% for categories in object_list %}
    <b><u> {{categories.name}}</u></b> | {{categories.description}}
      {% for articles in categories.category.all %}
	        {% if request.user.profile != articles.author %}
                <li>
                     <a href='{{articles.get_absolute_url}}'>{{articles.title}}</a>
                </li>
			{% endif %}	
      {% endfor %}
    <br>
  {% endfor %}
</ul>
{% endblock %}