{% extends 'base.html' %}

{% load static %}

{% block title %}Merchandise Store{% endblock %}
{% block content %}
        <ul>
            <h1> {{object.name}}</h1>
                <p>{{object.product_type.name}}</p>
                <p>{{object.description}}</p>
                <p>{{object.price|floatformat:2}}</p>
                <p>{{object.stock}}</p>
                <p>{{object.status}}</p> 

                {% if request.user == object.owner.user %}
                
                    <p> Sorry, but you cannot buy this product. </p>
                {% else %}
                        <form action="{% url 'merchstore:item-detail' pk=object.pk %}" method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <label for="amount">
                            <span>Amount</span>
                            <input type="number" id="amount" name="amount">   
                        </label>
                        <input type="submit" value="Proceed"
                        {% if object.stock == 0 %}disabled{% endif %}
                        />
                    </form>

                {% endif %}

                {% if request.user == product.owner.user %}
                    <li><a href="{% url 'merchstore:edit' pk=object.pk %}">Edit Product</a>
                    </li>
                {% endif %}
        </ul>
{% endblock %}