{% extends 'base.html'%}
{% block title %}Blog Site{% endblock %}
{% block styles %} {% endblock %}
{% block content %}
<ul>
<h1>Blog Site</h1>
  <h2 style="line-height:0.5">Your Articles</h2>
  {% for categories in object_list %}
      {% for articles in categories.category.all %}
        {% if request.user.profile == articles.author %}
          <li>
            <a href='{{articles.get_absolute_url}}'>{{articles.title}}</a>
          </li>
        {% endif %}
      {% endfor %}
    <br>
  {% endfor %}

<h2>Categories</h2>
  {% for categories in object_list %}
    <b><u> {{categories.name}}</u></b> | {{categories.description}}
      {% for articles in categories.category.all %}
          {% if request.user.profile != articles.author %}
            <li>
              <a href='{{articles.get_absolute_url}}'>{{articles.title}}</a>
            </li>
          {% endif %}
      {% endfor %}
    <br>
  {% endfor %}
  <div>
    <a href = "{% url 'blog:article-add' %}" class = "button"> Create Blog </a>
  </div>
</ul>
{% endblock %}