{% extends 'base.html' %}

{% load static %}

{% block content %}
    
{% if user.is_authenticated %}
    <h1>Create a New Thread</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
            
        <div>
            <label>Created On:</label>
            <p>{{ form.instance.created_on }}</p>
        </div>
            
        <div>
            <label>Updated On:</label>
            <p>{{ form.instance.updated_on }}</p> 
        </div>

        <div>
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" maxlength="255">
        </div>
          
        <div>
            <label for="category">Category:</label>
            <select name="category" id="category">
                <option value="">Select Category</option>
                {% for category in form.category.field.queryset %}
                {% endfor %}
            </select>
        </div>
          
        <div>
            <label for="entry">Post:</label>
            <textarea name="entry" id="entry">{{ form.entry.value }}</textarea>
        </div>
          
        <div>
            <label for="image">Image:</label>
            <input type="file" name="image" id="image">
        </div>

        <button type="submit">Post Thread</button>
    </form>

    <p><a href="{% url 'templates:thread_list' %}">Go Back to Thread List</a></p>
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Logout</button>
    </form>

{% else %}
    <p>You must be logged in to post a thread.</p>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
{% endif %}

{% endblock %}
