<!-- This file formats the threads as a thread with their corresponding links -->

{% extends 'base.html' %}
{% load static %}

<title>Thread List</title>

{% block content %} 

    {% if user.is_authenticated %}
        <h2>Your Threads</h2>
        {% if user_threads %}
            <ul>
            {% for thread in user_threads %}
                <li><a href="{% thread.get_absolute_url %}">{{ thread.title }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>You have not created any threads.</p>
        {% endif %}
    {% else %}
        <p>Login to view your threads.</p>
    {% endif %}

    <h3>All Threads by Category</h3>
    {% for category, threads in category_threads.items %}
        <p><strong>{{ category.name }}</strong></p>
        <ul>
            {% for thread in threads %}
            <li><a href="{% thread.get_absolute_url %}">{{ thread.title }}</a></li>
            {% endfor %}
        </ul>
    {% empty %}
        <p>No threads available.</p>
    {% endfor %}

    <p><strong><a href="{% url 'thread-create' %}">Create a new thread?</a></strong></p>

{% endblock %}
