<!-- This file formats the details of the thread of threads. -->

{% extends 'base.html' %}
{% load static %}

<title>Thread Info</title>

{% block content %} 

  <h2>By {{ thread.author.user.username }} on {{ thread.created_on }}</h2>

  <p>{{ thread.entry }}</p>
  {% if thread.image %}
    <img src="{{ thread.image.url }}" alt="{{ thread.title }}">
  {% endif %}
  
  <h3>Comments</h3>
  
  {% for comment in comments %}
    <div class="comment">
      <p><strong>{{ comment.author.user.username }}</strong></p> 
      <i>{{ comment.created_on }}</i>
      <p>{{ comment.entry }}</p>
    </div>
  {% empty %}
    <p>No comments... yet.</p>
  {% endfor %}
  
  {% if user.is_authenticated %}
    <h4>Leave a Comment:</43>
    <form method="post">
      {% csrf_token %}
      {{ comment_form.as_p }}
      3<button type="submit">Submit</button>
    </form>
  {% else %}
    <p>You must be logged in to comment.</p>
  {% endif %}
  
  {% if user.is_authenticated and user.profile == thread.author %}
    <a href="{% url 'forum:thread-edit' pk=thread.pk %}">Edit Thread</a>
  {% endif %}
  
  <h5>Other Threads in this Category:</h5>
  <ul>
    {% for other_thread in other_threads %}
      <li><a href="{% url 'forum:thread-detail' other_thread.id %}">{{ other_thread.title }}</a></li>
    {% empty %}
      <p>No other threads in this category.</p>
    {% endfor %}
  </ul>
  
  <p><strong><a href="{% url 'forum:thread-list' %}">Back to Thread List</a></strong></p>
  
{% endblock %}
