{% extends 'base.html' %}
{% load static %}

<title>{% if object %}Edit Thread{% else %}Create Thread{% endif %}</title>

{% block content %}

{% if user.is_authenticated %}
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div>
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" value="{{ form.title.value }}">
        </div>

        <div>
            <label for="category">Category:</label>
            <select name="category" id="category">
                <option value="">Select Category</option>
                {% for category in form.category.field.queryset %}
                    <option value="{{ category.id }}" {% if category.id == form.category.value %}selected{% endif %}>
                        {{ category.name }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label for="id_entry">Post Entry:</label>
            <textarea name="entry" id="id_entry">{{ form.entry.value }}</textarea>
        </div>

        <div>
            <label for="id_image">Image (optional):</label>
            <input type="file" name="image" id="image">
        </div>

        <button type="submit">Update Thread</button>
    </form>

    <p><strong><a href="{% url 'thread-list' %}">Go Back to Thread List</a></strong></p>

{% else %}
    <p><b>Login to see this page.</b></p>    
{% endif %}

{% endblock %}
